<a href="https://colab.research.google.com/github/KhushbooJain0618/ML-PRACTICE/blob/main/ML5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,28.9782,8.714,29584
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.6647,8.700,22343
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.5478,8.570,13510
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.1647,8.566,17022
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.7491,8.552,9681

In [5]:
df = pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

In [8]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,28.9782,8.714,29584
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.6647,8.700,22343
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.5478,8.570,13510
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.1647,8.566,17022
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.7491,8.552,9681
...,...,...,...,...,...,...,...
6335,339397,Café Society,The story of a young man who arrives in Hollyw...,2016-05-11,1.5580,6.447,2771
6336,5653,Luther,"During the early 16th century, idealistic Germ...",2003-10-29,5.0594,6.448,328
6337,1825,Over the Top,Lincoln Hawk a hard-luck big-rig trucker takes...,1987-02-13,4.0194,6.446,1811
6338,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,2007-05-01,14.4498,6.448,14898
6339,425001,The War with Grandpa,Peter is thrilled that his Grandpa is coming t...,2020-08-27,2.1683,6.446,1036

In [9]:
df.shape

(6340, 7)

In [10]:
df.to_csv('movies.csv')