<a href="https://colab.research.google.com/github/KhushbooJain0618/ML-PRACTICE/blob/main/ML6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if response code is 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [16]:
webpage = requests.get(
    "https://books.toscrape.com/catalogue/page-1.html"
).text

In [17]:
soup=BeautifulSoup(webpage,'lxml')

In [18]:
#print(soup.prettify())

In [19]:
soup.find_all('h1')[0].text

'All products'

# TO FIND OUT NAMES OF THE COMPANIES

In [20]:
for i in soup.find_all('h2'):
  print(i.text.strip())

In [21]:
for i in soup.find_all('p'):
  print(i.text.strip())

Â£51.77
In stock

Â£53.74
In stock

Â£50.10
In stock

Â£47.82
In stock

Â£54.23
In stock

Â£22.65
In stock

Â£33.34
In stock

Â£17.93
In stock

Â£22.60
In stock

Â£52.15
In stock

Â£13.99
In stock

Â£20.66
In stock

Â£17.46
In stock

Â£52.29
In stock

Â£35.02
In stock

Â£57.25
In stock

Â£23.88
In stock

Â£37.59
In stock

Â£51.33
In stock

Â£45.17
In stock

In [22]:
#for in soup.find_all('p'):
  #print(i.text.strip())

## TO FIND OUT THE RATINGS

In [23]:
len(soup.find_all('p',class_='rating'))

0

## TO FIND OUT THE NUMBER OF REVIEWS

In [24]:
len(soup.find_all('a' , class_='review-count'))

0

# CONSIDERING THE WHOLE CONTAINER

In [25]:
company=soup.find_all('div',class_='company-content-wrapper')

In [26]:
len(company)

0

In [27]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })

In [28]:
name

[]

In [29]:
rating

[]

In [30]:
reviews

[]

In [31]:
ctype

[]

In [32]:
hq

[]

In [33]:
how_old

[]

In [34]:
no_of_employee

[]

In [35]:
df.shape

(0, 7)

# creating dataframe for all the pages

In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

final = pd.DataFrame()

url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_India"

# Add a User-Agent header to the request to avoid being blocked
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
webpage = requests.get(url, headers=headers).text
soup = BeautifulSoup(webpage, "lxml")

table = soup.find("table", class_="wikitable")
rows = table.find_all("tr")[1:]   # skip header row

name = []
industry = []
revenue = []
employees = []
hq = []

for row in rows:
    cols = row.find_all("td")

    try:
        name.append(cols[0].text.strip())
    except:
        name.append(np.nan)

    try:
        industry.append(cols[1].text.strip())
    except:
        industry.append(np.nan)

    try:
        revenue.append(cols[2].text.strip())
    except:
        revenue.append(np.nan)

    try:
        employees.append(cols[3].text.strip())
    except:
        employees.append(np.nan)

    try:
        hq.append(cols[4].text.strip())
    except:
        hq.append(np.nan)

df = pd.DataFrame({
    "Company_Name": name,
    "Industry": industry,
    "Revenue": revenue,
    "Employees": employees,
    "Headquarters": hq
})

final = pd.concat([final, df], ignore_index=True)

print(final.head())

  Company_Name Industry                      Revenue  Employees Headquarters
0            1       49  Reliance Industries Limited     Mumbai        108.8
1            2       55          State Bank of India     Mumbai         71.8
2            3       65                    HDFC Bank     Mumbai         49.3
3            4       70   Life Insurance Corporation  New Delhi         98.0
4            5      142                   ICICI Bank     Mumbai         28.5

In [3]:
df.sample(5)

   Company_Name Industry                      Revenue  Employees Headquarters
70           69     1980                    ABB India  Bangalore          1.3
63           62     1853     Steel Authority of India  New Delhi         12.9
55           54     1704  Bajaj Holdings & Investment     Mumbai          0.2
50           49     1568               Rajesh Exports  Bangalore         32.6
8             9      293                    Axis Bank     Mumbai         16.7

In [4]:
df.shape

(71, 5)

In [5]:
final.shape

(71, 5)